
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  font-family: "Open Sans", sans-serif;

  
}


a.active{
  border-color: rgb(0, 242, 255);
  background-color: rgb(181, 237, 237);
  
}
 
  /* hide scrollbar for IE, Edge and Firefox */
 

/* hide scrollbar for chrome, safari and opera */
.container::-webkit-scrollbar {
  display: none;
}