@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



a.active hr{
  display: block;
  
}
*{
  font-family: 'Outfit';
}
@media (max-width: 640px) {
  .poke a.active {
      color: white;
      background-color: orangered;
  }
}
::-webkit-scrollbar{
  display: none;
}

